*, *::before, *::after{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    position: relative;
    padding: 0; margin: 0;
}
::selection{
    background-color: var(--bg-color-red-500);
    color: var(--f-color-light);
}
:root{
    font-size: 20px;

    --f-family-josefin:'Josefin Sans', sans-serif;
    --f-family-ubuntu: 'Ubuntu', sans-serif;
     
    --bg-color-green: #50f1ae;
    --bg-color-pine-green: hsl(175, 98%, 30%);
    --bg-color-blue-900: hsl(226, 61%, 14%);
    --bg-color-blue-800: hsl(226, 61%, 17%);
    --bg-color-blue-700: hsl(226, 61%, 19%);
    --bg-color-blue-600: #192b67;
    --bg-color-blue-500: #142e85;
    --bg-color-blue-400: #3954ac;
    --bg-color-blue-200: #3882c7;
    --bg-color-orange-500:hsl(19, 89%, 55%); 
    --bg-color-red-500: hsl(346, 89%, 62%);
    --bg-color-purple: hsl(282, 68%, 38%);
    --bg-color-violet: hsl(262, 52%, 47%);
    --bg-color-pink: hsl(340, 82%, 76%);

    // --bg-gradient-button: linear-gradient(
    //     135deg,
    //     var(--bg-color-violet), 
    //     var(--bg-color-purple), 
    //     var(--bg-color-pink),
    //     var(--bg-color-green), 
    //     var(--bg-color-blue-200),
    //     var(--bg-color-blue-500)
    // );
    --bg-gradient-button: linear-gradient(
        135deg, 
        var(--bg-color-blue-500), 
        var(--bg-color-blue-200),
        var(--bg-color-green),
        var(--bg-color-green), 
        var(--bg-color-blue-200),
        var(--bg-color-blue-500)
    );
    
    --f-color-light: hsl(0, 0%, 95%);
    --f-color-less-light: hsl(0, 0%, 75%);
    --f-color-dark: hsl(0, 0%, 20%);
    --f-color-gray: hsl(246, 9%, 54%);
    --f-color-gradient-blue: linear-gradient(
        90deg, 
        var(--bg-color-green), 
        var(--bg-color-blue-200), 
        var(--bg-color-green));
    --f-color-gradient-violet: linear-gradient(
        90deg, 
        var(--bg-color-purple), 
        var(--bg-color-violet), 
        var(--bg-color-pink), 
        var(--bg-color-purple));

    --f-color-gradient-gray: linear-gradient(
        var(--f-color-less-light),
        var(--f-color-gray));


    --f-size-xxl: calc(2rem + 1.5vw);
    --f-size-header: calc(1.75rem + 1vw);
    --f-size-small-header: calc(1.25rem + 1vw);
    --f-size-title: calc(1rem + 0.5vw);
    --f-size-paragraph: calc(1rem + 0.25vw);
    --f-size-small: calc(0.75rem + 0.25vw);

    --transition-speed-fast: 250ms;
    --transition-speed-slow: 500ms;

    --phone-break-point: 560px;
    --computer-break-point: 1300px;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* Navbar Styles */

.navbar{
    --background: hsla(226, 61%, 14%, 0.85);

    
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 999;
    width: 100vw;
    background-color: var(--background);
    transition: all var(--transition-speed-slow);
    box-shadow: 5px 0 15px 2px var(--bg-color-blue-900);
    
    animation-name: navbar-pop;
    animation-duration: var(--transition-speed-slow);
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    transform: translateY(-7rem);
    .navbar-logo{
        margin-left: 0.5rem;
    } 
    .navbar-list{
        height: 1rem;
        // width: 60%;
        transition: all var(--transition-speed-slow);
        .navbar-list-item{
            height: 1rem;
            
            .navbar-link{
                // color: var(--f-color-light);
                text-decoration: none;
                font-size: var(--f-size-paragraph);
                // border-bottom: 2px var(--f-color-gray) solid;
                padding-bottom: 1px;
                &::before{
                    content: '';
                    width: 100%;
                    height: 3px;
                    bottom: -3px;
                    background-color: var(--bg-color-orange-500);
                    left: 0;
                    position: absolute;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform var(--transition-speed-fast) ease-in-out;
                    border-radius: 20px;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }
                &.active::before{
                    transform: scaleX(1);
                }
            }
        }
    }
    .nav-button{
        // justify-self: end;
        width: 3rem;
        aspect-ratio: 1/1;
        &#menu-button{
            &[aria-expanded="true"]{
                .line1{
                    transform: translate(0px, 4.5px) rotateZ(45deg);
                    // rotate: 45deg; translate(0px 4.5px),
                }
                .line2{
                    // translate: -20px;
                    transform: translateX(-20px);
                    opacity: 0;
                }
                .line3{
                    // translate: 0px -4px;
                    // rotate: -45deg;
                    transform: translate(0px, -4px) rotateZ(-45deg);
                }
            }
        }
        .nav-icon{
            width: 2rem;
            aspect-ratio: 1/1;
            stroke: var(--f-color-light);
            line{
                transition: var(--transition-speed-slow);
                transform-origin: center;
            }
        }
    }
}
@media screen and (max-width: 760px){
    .navbar{
        display: grid;
        grid-template-columns: 5fr 1fr ;
        height: 80px;
        transition: height var(--transition-speed-slow) ease-in-out, background-color var(--transition-speed-slow);
        .navbar-list{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
            width: 100%;
            grid-column: span 3;
            height: fit-content;
            visibility: hidden;
            .navbar-list-item{
                display: flex;
                // justify-content: end;
                margin: 0.5rem 2rem 1.5rem 1.5rem;
                opacity: 0;
            }
        }
        .navbar-logo{
            height: 3rem;
            margin: 0.5rem 0 0.5rem 0.5rem;
            justify-self: start;
        }
        .nav-button{
            align-self: center;
            #cart-button{
                grid-column: 2/3;
                grid-row: 1/2;
                z-index: 999;
            }
        } 
        &.nav-visible{
            height: 380px;
            .navbar-list{
                .navbar-list-item{
                    animation-name: fade-in;
                    animation-duration: var(--transition-speed-fast);
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    visibility: visible;
                    &:nth-child(1){
                        animation-delay: 100ms;
                    }
                    &:nth-child(2){
                        animation-delay: 200ms;
                    }
                    &:nth-child(3){
                        animation-delay: 300ms;
                    }
                    &:nth-child(4){
                        animation-delay: 400ms;
                    }
                    &:nth-child(5){
                        animation-delay: 500ms;
                    }
                    &:nth-child(6){
                        animation-delay: 600ms;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 761px){
    .navbar{
        display: flex;
        height: 5rem;
        .navbar-list{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .navbar-logo{
            width: 5rem;
            transform: translateY(4px);
        }
        #menu-button{
            display: none;
        }
    }
}
// @media screen and (min-width: 1300px){
//     .navbar{
//         height: 7rem;
//     }
// }

@keyframes navbar-pop {
    from{transform: translateY(-5rem);}
    to{transform: translateY(0);}
}

@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}


// Content styles
main{
    height: 100vh;
    height: 100svh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    scroll-behavior: smooth;
 
    .intro{
        background-color: hsla(226, 61%, 17%, 0.5);
        height: inherit;
        scroll-snap-align: center;
        display: grid;
        place-content: center;
        .intro-video{
            position: fixed;
            bottom: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
    .content-section{
        height: inherit;
        scroll-snap-align: center;
        display: grid;
        place-content: center;
        scroll-snap-stop: always;
        h2, h3{
            text-align: center;
        }
        p{
            align-self: center;
        }
        &:nth-child(2n){
            background-color: var(--bg-color-orange-500);
        }
        &:nth-child(2n+1){
            background-color: var(--bg-color-blue-800);
            color: var(--f-color-light);
        }
    }
}
@media (max-width: 560px) {
    main{
        .intro{
            .intro-header{
                width: 100%;
                font-size: var(--f-size-small-header);
            }
        }
        .content-section{
            padding: 3rem 1rem 1rem 1rem;
            gap: 1rem;
            .image{
                width: 70%;
                max-height: 100%;
                justify-self: center;
            }
            .t-image{
                width: 60%;
                justify-self: center;
                &:nth-child(1){
                    display: none;
                }
            }
            .types{
                ul{display: none;}
            }
            .rules{
                .hidden{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 561px) {
    main{
        .intro{
            .intro-header{
                width: 100%;
            }
        }
        .content-section{
            padding: 3rem;
            grid-template-columns: 3fr 1fr;
            gap: 1rem;
            h3, h2{
                grid-column: span 2;
            }
            
            .image{
                justify-self: center;
                align-self: center;
                order: 3;
                width: 100%;
            }
            .t-image{
                width: 70%;
                justify-self: center;
                align-self: center;
            }
            .rules{
                grid-column: span 2;
            }
        }
    }
}
@media (min-width: 1300px) {
    main{
        .content-section{
            padding: 10rem;
            gap: 3rem;
            grid-template-columns: 2fr 1fr;
            p, li{
                font-size: var(--f-size-paragraph);
            }
        }
    }
}


// Utility Classes

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
.xxl{
    font-size: var(--f-size-xxl);
}
.header{
    font-size: var(--f-size-header);
}
.small-header{
    font-size: var(--f-size-small-header);
}
.title{
    font-size: var(--f-size-title);
}
.paragraph{
    font-size: var(--f-size-paragraph);
}
.small-text{
    font-size: var(--f-size-small);
}

.dark{
    color: var(--f-color-dark);
}
.gray{
    color: var(--f-color-gray);
}
.light{
    color: var(--f-color-light);
}
.less-light{
    color: var(--f-color-less-light);
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}