*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: var(--bg-color-red-500);
  color: var(--f-color-light);
}

::selection {
  background-color: var(--bg-color-red-500);
  color: var(--f-color-light);
}

:root {
  font-size: 20px;
  --f-family-josefin:"Josefin Sans", sans-serif;
  --f-family-ubuntu: "Ubuntu", sans-serif;
  --bg-color-green: #50f1ae;
  --bg-color-pine-green: hsl(175, 98%, 30%);
  --bg-color-blue-900: hsl(226, 61%, 14%);
  --bg-color-blue-800: hsl(226, 61%, 17%);
  --bg-color-blue-700: hsl(226, 61%, 19%);
  --bg-color-blue-600: #192b67;
  --bg-color-blue-500: #142e85;
  --bg-color-blue-400: #3954ac;
  --bg-color-blue-200: #3882c7;
  --bg-color-orange-500:hsl(19, 89%, 55%);
  --bg-color-red-500: hsl(346, 89%, 62%);
  --bg-color-purple: hsl(282, 68%, 38%);
  --bg-color-violet: hsl(262, 52%, 47%);
  --bg-color-pink: hsl(340, 82%, 76%);
  --bg-gradient-button: linear-gradient(
      135deg,
      var(--bg-color-blue-500),
      var(--bg-color-blue-200),
      var(--bg-color-green),
      var(--bg-color-green),
      var(--bg-color-blue-200),
      var(--bg-color-blue-500)
  );
  --f-color-light: hsl(0, 0%, 95%);
  --f-color-less-light: hsl(0, 0%, 75%);
  --f-color-dark: hsl(0, 0%, 20%);
  --f-color-gray: hsl(246, 9%, 54%);
  --f-color-gradient-blue: linear-gradient(
      90deg,
      var(--bg-color-green),
      var(--bg-color-blue-200),
      var(--bg-color-green));
  --f-color-gradient-violet: linear-gradient(
      90deg,
      var(--bg-color-purple),
      var(--bg-color-violet),
      var(--bg-color-pink),
      var(--bg-color-purple));
  --f-color-gradient-gray: linear-gradient(
      var(--f-color-less-light),
      var(--f-color-gray));
  --f-size-xxl: calc(2rem + 1.5vw);
  --f-size-header: calc(1.75rem + 1vw);
  --f-size-small-header: calc(1.25rem + 1vw);
  --f-size-title: calc(1rem + 0.5vw);
  --f-size-paragraph: calc(1rem + 0.25vw);
  --f-size-small: calc(0.75rem + 0.25vw);
  --transition-speed-fast: 250ms;
  --transition-speed-slow: 500ms;
  --phone-break-point: 560px;
  --computer-break-point: 1300px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Navbar Styles */
.navbar {
  --background: hsla(226, 61%, 14%, 0.85);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  background-color: var(--background);
  transition: all var(--transition-speed-slow);
  box-shadow: 5px 0 15px 2px var(--bg-color-blue-900);
  animation-name: navbar-pop;
  animation-duration: var(--transition-speed-slow);
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  transform: translateY(-7rem);
}
.navbar .navbar-logo {
  margin-left: 0.5rem;
}
.navbar .navbar-list {
  height: 1rem;
  transition: all var(--transition-speed-slow);
}
.navbar .navbar-list .navbar-list-item {
  height: 1rem;
}
.navbar .navbar-list .navbar-list-item .navbar-link {
  text-decoration: none;
  font-size: var(--f-size-paragraph);
  padding-bottom: 1px;
}
.navbar .navbar-list .navbar-list-item .navbar-link::before {
  content: "";
  width: 100%;
  height: 3px;
  bottom: -3px;
  background-color: var(--bg-color-orange-500);
  left: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--transition-speed-fast) ease-in-out;
  border-radius: 20px;
}
.navbar .navbar-list .navbar-list-item .navbar-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar .navbar-list .navbar-list-item .navbar-link.active::before {
  transform: scaleX(1);
}
.navbar .nav-button {
  width: 3rem;
  aspect-ratio: 1/1;
}
.navbar .nav-button#menu-button[aria-expanded=true] .line1 {
  transform: translate(0px, 4.5px) rotateZ(45deg);
}
.navbar .nav-button#menu-button[aria-expanded=true] .line2 {
  transform: translateX(-20px);
  opacity: 0;
}
.navbar .nav-button#menu-button[aria-expanded=true] .line3 {
  transform: translate(0px, -4px) rotateZ(-45deg);
}
.navbar .nav-button .nav-icon {
  width: 2rem;
  aspect-ratio: 1/1;
  stroke: var(--f-color-light);
}
.navbar .nav-button .nav-icon line {
  transition: var(--transition-speed-slow);
  transform-origin: center;
}

@media screen and (max-width: 760px) {
  .navbar {
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 80px;
    transition: height var(--transition-speed-slow) ease-in-out, background-color var(--transition-speed-slow);
  }
  .navbar .navbar-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    width: 100%;
    grid-column: span 3;
    height: -moz-fit-content;
    height: fit-content;
    visibility: hidden;
  }
  .navbar .navbar-list .navbar-list-item {
    display: flex;
    margin: 0.5rem 2rem 1.5rem 1.5rem;
    opacity: 0;
  }
  .navbar .navbar-logo {
    height: 3rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    justify-self: start;
  }
  .navbar .nav-button {
    align-self: center;
  }
  .navbar .nav-button #cart-button {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 999;
  }
  .navbar.nav-visible {
    height: 380px;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item {
    animation-name: fade-in;
    animation-duration: var(--transition-speed-fast);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: visible;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item:nth-child(1) {
    animation-delay: 100ms;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item:nth-child(2) {
    animation-delay: 200ms;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item:nth-child(3) {
    animation-delay: 300ms;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item:nth-child(4) {
    animation-delay: 400ms;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item:nth-child(5) {
    animation-delay: 500ms;
  }
  .navbar.nav-visible .navbar-list .navbar-list-item:nth-child(6) {
    animation-delay: 600ms;
  }
}
@media screen and (min-width: 761px) {
  .navbar {
    display: flex;
    height: 5rem;
  }
  .navbar .navbar-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar .navbar-logo {
    width: 5rem;
    transform: translateY(4px);
  }
  .navbar #menu-button {
    display: none;
  }
}
@keyframes navbar-pop {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main {
  height: 100vh;
  height: 100svh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  scroll-behavior: smooth;
}
main .intro {
  background-color: hsla(226, 61%, 17%, 0.5);
  height: inherit;
  scroll-snap-align: center;
  display: grid;
  place-content: center;
}
main .intro .intro-video {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
main .content-section {
  height: inherit;
  scroll-snap-align: center;
  display: grid;
  place-content: center;
  scroll-snap-stop: always;
}
main .content-section h2, main .content-section h3 {
  text-align: center;
}
main .content-section p {
  align-self: center;
}
main .content-section:nth-child(2n) {
  background-color: var(--bg-color-orange-500);
}
main .content-section:nth-child(2n+1) {
  background-color: var(--bg-color-blue-800);
  color: var(--f-color-light);
}

@media (max-width: 560px) {
  main .intro .intro-header {
    width: 100%;
    font-size: var(--f-size-small-header);
  }
  main .content-section {
    padding: 3rem 1rem 1rem 1rem;
    gap: 1rem;
  }
  main .content-section .image {
    width: 70%;
    max-height: 100%;
    justify-self: center;
  }
  main .content-section .t-image {
    width: 60%;
    justify-self: center;
  }
  main .content-section .t-image:nth-child(1) {
    display: none;
  }
  main .content-section .types ul {
    display: none;
  }
  main .content-section .rules .hidden {
    display: none;
  }
}
@media (min-width: 561px) {
  main .intro .intro-header {
    width: 100%;
  }
  main .content-section {
    padding: 3rem;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }
  main .content-section h3, main .content-section h2 {
    grid-column: span 2;
  }
  main .content-section .image {
    justify-self: center;
    align-self: center;
    order: 3;
    width: 100%;
  }
  main .content-section .t-image {
    width: 70%;
    justify-self: center;
    align-self: center;
  }
  main .content-section .rules {
    grid-column: span 2;
  }
}
@media (min-width: 1300px) {
  main .content-section {
    padding: 10rem;
    gap: 3rem;
    grid-template-columns: 2fr 1fr;
  }
  main .content-section p, main .content-section li {
    font-size: var(--f-size-paragraph);
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

.xxl {
  font-size: var(--f-size-xxl);
}

.header {
  font-size: var(--f-size-header);
}

.small-header {
  font-size: var(--f-size-small-header);
}

.title {
  font-size: var(--f-size-title);
}

.paragraph {
  font-size: var(--f-size-paragraph);
}

.small-text {
  font-size: var(--f-size-small);
}

.dark {
  color: var(--f-color-dark);
}

.gray {
  color: var(--f-color-gray);
}

.light {
  color: var(--f-color-light);
}

.less-light {
  color: var(--f-color-less-light);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}/*# sourceMappingURL=style.css.map */